{% extends 'base.html' %}

{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'teachers:group_register' %}">My groups</a></li>
    <li class="breadcrumb-item"><a href="{}">{{ group.name }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Check</li>
  </ol>
</nav>
<h2 class="mb-3">{{ group.name }}</h2>
  <div class="card">
    <table class="table mb-0">
      <thead>
        <td>
          <a href="{% url 'teachers:attendance_create' group.pk %}" class="btn btn-primary">Register</a>
        </td>
        <tr>
          <th>Students</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for registered_group in registered_groups %}
          <tr>
            <td>{{ registered_group.student.fullname }}</td>
            <td></td>
            {%  if not registered_group.deleted_at %}
              <td><a href="{% url 'teachers:group_delete' registered_group.pk %}" class="btn btn-danger float-right">Delete</a></td>
            {% else %}
              <td width="440px">Aluno removido da turma dia: {{registered_group.deleted_at}}</td>
            {% endif %}
          </tr>
        {% empty %}
        <tr>
          <td class="bg-light text-center font-italic" colspan="3">No students registered yet.</td>
        </tr>
        {% endfor %}
      </tbody>
      <tr>
        <th>Sheets</th>
      </tr>
    <tbody>
      {% for attendance_sheet in attendance_sheets %}
        <tr>
          <td> {{ attendance_sheet.date }} </td>
          <td>{{ attendance_sheet.registered.student.fullname }}</td>
          <td> {{ attendance_sheet.present }}</td>
        </tr>
      {% empty %}
      <tr>
        <td class="bg-light text-center font-italic" colspan="3">No attendance sheet registered yet.</td>
      </tr>
      {% endfor %}
    </tbody>
    </table>
  </div>
{% endblock %}
