{% extends 'base.html' %}

{% block content %}
  <div class="card">
    <table class="table mb-0">
      <thead>
        <tr>
          <th>Group</th>
          <th>Teacher</th>
        </tr>
      </thead>
      <tbody>
        {% for group in groups %}
          <tr>
            <td>{{ group.name }}</td>
            <td>{{ group.teacher }}</td>
          </tr>
        {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="3">You haven't registered in any groups yet.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
